@import url(http://fonts.googleapis.com/css?family=Oleo+Script|Offside|Great+Vibes|Alef);
@import url(http://fonts.googleapis.com/css?family=Fauna+One|Advent+Pro);

.neon {
	color: #f9d100;
	text-shadow: 0 0 30px #EC637B,
		0 0 10px rgba(230, 161, 173, 0.41),
		0 0 100px #E6A1AD,
		0 0 500px #F36780,
		5px 9px 5px rgba(0, 0, 0, 0.5);
	font-family: 'Offside';
}

.subtitle {
	font-family: 'Advent Pro';
	color: #fafafa;
	text-align: center;
	a, a:active, a:visited {
		text-decoration: none;
		color: #fafafa;
		@include transition(font-size .5s ease-in-out 0);
	}
	a:hover {
		text-decoration: none;
		color: #fafafa;
		font-size: 1.25em;
	}
}